name: deploy-dev

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.11.1'

      - name: Build & Export
        run: |
          yarn install
          yarn build


      - name: Deploy to S3 (Dev)
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_dev }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_dev }}
          AWS_REGION: ap-southeast-2
        run: |
          aws s3 sync ./dist s3://2048-bucket-dev --delete
          aws cloudfront create-invalidation --distribution-id E1RG2QOYHZ7YIF --paths "/*"\